In [ ]:
#Declare a float value and store it in a variable. 

num1=10.2



#Check the type and print the id of the same.

print("type of ",num1,":",type(num1))    #Output is Float
print("id of ",num1,":",id(num1))

In [ ]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.
num1=20.0
num2=9.2
#Do below operations on them:-
    #Find sum of both numbers
print("Sum: ",num1+num2)                #Output is 29.2
    #Find differce between them
print("Difference: ",num1-num2)         #Output is 10.8
    #Find the product of both numbers.
print("Product: ",num1*num2)            #Output is 184.0
    #Find value after dividing first num with second number
print("Division Value: ",num1/num2)     #Output is 2.173913043478261
    #Find the remainder after dividing first number with second number
print("Division Remainder: ",num1%num2) #Output is 1.6000000000000014
    #Find the quotient after dividing first number with second number
print("Division Quotient: ",num1/num2) #Output is 2.173913043478261
    #Find the result of first num to the power of second number.

In [ ]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

num1=10.0
num2=20.0
#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'
print("num1>num2: ",num1>num2)            #Output is False
        #Smaller than, '<'
print("num1<num2: ",num1<num2)            #Output is True
        #Greater than or equal to, '>='
print("num1>=num2: ",num1>=num2)          #Output is False
        #Less than or equal to, '<='
print("num1<=num2: ",num1<=num2)          #Output is True
#Observe their output(return type should be boolean)

In [ ]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

num1=10.0
num2=20.0
#Equuate them using equality operator (==, !=)
print("num1==num2: ",num1==num2)            #Output is False
#Observe the output(return type should be boolean)
print("num1!=num2: ",num1!=num2)            #Output is True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
a=10.20
b=10.20
c=b
print("id of a: ",id(a))     #id of a: 1861227004464
print("id of b: ",id(b))     #id of b: 1861227004752
print("id of c: ",id(c))     #id of c: 1861227004752
print(a is b)          #True or False?         Output is False since id of a and b are not same
print(a is not b)      #True or False?         Output is True since id of a and b are different


# Why the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same 
# Object reusability concept is not applicable on float values.

In [ ]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

In [ ]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #Output is True
print(10.20 in [10,10.20,10+20j,'Python']) #Output is True
print(10.20 in (10,10.20,10+20j,'Python')) #Output is True
print(20.30 in {1,20.30,30+40j})           #Output is True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) #Output is True
print(10 in range(20))                     #Output is True